.contanier{
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 10px;
}

.caixa1{
    grid-area: 1 / 1 / 2 / -1;
   
    background-color: rgb(173, 32, 32);
}

.caixa2{
    grid-area: 2 / 1 / 4 / span 2;

    background-color: rgb(0, 255, 255);
}

.caixa3{
    grid-area: 2 / 3 / 4 / 5;

    background-color: rgb(20, 235, 70);
}